<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Import</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag admin_dashboards_path, multipart: :true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <label for="import-file-input">Select file to import</label>
            <%= file_field_tag :real_file, input_html: { hidden: true }, class: 'form-control-file', id: 'import-file-input' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Import</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
